body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo {
    width: 119px;
    height: 40px;
    order: 1;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); /* Black shadow */
    background-color: rgba(0,0,0,0.7); /* Add a background color to make the shadow visible */
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px);
}

#tv-play-container {
    max-width: 100%;
	height: 80vh;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

#nextButton {
    position: fixed;
    top: 95%;
    right: 10px;
    transform: translate(0, -50%);
    cursor: pointer;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#nextButton:hover {
    background-color: #0056b3;
}

